@use 'variables.scss';

body {
  font-family: 'Nunito', sans-serif;
  background-color: aqua;
}

.loader-general {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}